<h1>New product_bundle</h1>

<%= error_messages_for :product_bundle %>

<%= form_for(:product_bundle, :url => product_bundles_path) do |f| %>

  <%= render :partial => 'form', :object => f %>
  
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', product_bundles_path %>
