<div class="text-content">

<% if @order -%>

  <% if @order.university_id %>
      <h1>Successful Order!</h1>

      <p> You've signed up for <b><%= @order.university.name %></b>, and
      based on the experiences of thousands of others, we think you're
      going to love it!  </p>

      <p>You can keep tabs on your subscription <%= link_to "here", :controller=>:customer, :action => :university_status %> (you might want to bookmark that page!).
      </p>

      <p>Remember: you can add DVDs from <i>any</i> section of SmartFlix.  Use the categories to the left, or the search box in the upper right, and click "add to queue".
      </p>

      <% not_sent = @order.line_items_unshipped_and_uncancelled %>
      <% if not_sent.size < 10 %>
         <%= render :partial => "shared/queue_low_add_videos",
                    :locals => { :prefix => "You have #{not_sent.size} videos in your queue." } %>
      <% end %>


  <% else %>

      <h1>Successful Order!</h1>

      <p>You have successfully placed your order! &nbsp;Your Order Number is <%= @order.id %>.</p> 

      <p>
      <%= link_to "Information on order ##{@order.id}", :controller => 'customer', :action => 'order', :id => @order %>
      </p>

      <p>
      <%= link_to "Your entire order history", :controller => 'customer', :action => 'order_history' %>
      </p>

  <% end %>

  <% if @upsell_products && @upsell_products.size == 2 && ! @upsell_products.inject(true){|sum,x| sum && x}.nil?  %>
     <%= render :partial => 'postcheckout_listing_full', :locals => { :products => @upsell_products, :final_page => false, :page => 1 } %>
  <% else -%>
	<% if @order.line_items.size >= @order.customer.ship_rate -%>
	  <%= form_for @order.customer do |form| %>
		<p>
		  Number of videos you want us to ship you per week:&nbsp;&nbsp;
		  <%= form.select :ship_rate, [2,4,6,8] %>&nbsp;&nbsp;
          <%= Button.new( "update", { :class => :orange, :method => :submit })%>
		</p>
	   <% end -%>
    <% end -%>
  <% end -%>

<% else -%>

  <h1>No Order Information</h1>

  <p>Sorry, any order information on this page has expired</p>

   <%= render :partial => 'linkto_order_history' %>

<% end -%>

</div>

	<!-- Google Code for SF checkout Conversion Page -->
	<script language="JavaScript" type="text/javascript">
	<!--
	var google_conversion_id = 1071930775;
	var google_conversion_language = "en_US";
	var google_conversion_format = "1";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "D8BSCPqYUhCXu5H_Aw";
	//-->
	</script>
	<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1071930775/?value=<%= @order.nil? ? 0.0 : @order.sub_total %>&label=D8BSCPqYUhCXu5H_Aw&amp;script=0"/>
	</noscript>

<!--
    for customer "Dave MacDonald" <dave@gamacdonald.com>
    who does affiliate marketing for us 
-->

    <!-- Google Code for SmartFlix Conversion Page -->
    <script type="text/javascript">
    <!--
    var google_conversion_id = 1067425384;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "meTLCKzfxgEQ6Lz-_AM";
    var google_conversion_value = 0;
    if (5) {
       google_conversion_value = 5;
    }
    //-->
    </script>
    <script type="text/javascript"  
    src="https://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt=""  
    src="https://www.googleadservices.com/pagead/conversion/1067425384/?value=5&amp;label=meTLCKzfxgEQ6Lz-_AM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>

