
	<%= hidden_field 'product_set', 'id'  %></p>

	<p><label for="name">name</label><br/>
	<%= text_field 'product_set', 'name'  %></p>

	<p><label for="describe_each_title">list individual titles?</label><br/>
	<%= text_field 'product_set', 'describe_each_title'  %></p>

	<p><label for="order_matters">must view in order?</label><br/>
	<%= text_field 'product_set', 'order_matters'  %></p>

	<p><label for="set_price_mult">set price multiplier?</label><br/>
	<%= text_field 'product_set', 'discount_multiplier'  %></p>
