<h1>New Product Set</h1>

<%= error_messages_for :videoset %>

<%= form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
