<p><label>email</label><br/>
<%= text_field 'purchaser', 'email'  %></p>

<p><label>name_first</label><br/>
<%= text_field 'purchaser', 'name_first'  %></p>

<p><label>name_last</label><br/>
<%= text_field 'purchaser', 'name_last'  %></p>

<p><label>addr_1</label><br/>
<%= text_field 'purchaser', 'addr_1'  %></p>

<p><label>addr_2</label><br/>
<%= text_field 'purchaser', 'addr_2'  %></p>

<p><label>city</label><br/>
<%= text_field 'purchaser', 'city'  %></p>

<p><label>state</label><br/>
<%= text_field 'purchaser', 'state'  %></p>

<p><label>zip</label><br/>
<%= text_field 'purchaser', 'zip'  %></p>

<p><label>activeP</label><br/>
<%= text_field 'purchaser', 'activeP'  %></p>

<p><label>notes</label><br/>
<%= text_area 'purchaser', 'notes'  %></p>

