<h1>New purchaser</h1>

<%= error_messages_for :purchaser %>

<%= form_for(:purchaser, :url => purchasers_path) do |f| %>
  <p>
    <%= render :partial => 'form' %>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', purchasers_path %>
