<% if header %>
  <div class="project">
    <div class="header">
      <h3>Update added on <%= update.created_at.strftime('%b %d, %Y') %></h3>
    </div>
    <div class="project-body">
<% end %>

<div id="update-<%= update.id %>">

<% if update.images.count > 0 %>
  <div class="images">
    <% update.images.each do |image| %>
      <%= clickable_project_thumbnail(image, update.project.title) %>
    <% end %>
  </div>
<% end %>

<p><%= html_paragraphs(update.text) %></p>
<% if current_customer_project(@project) %>
  <p><span class="tiny-link">
    <% update_term = header ? 'Update' : 'Description' %>
    [<%= link_to "Edit This Project #{update_term}", :remote => true, :url => edit_project_update_url(update), :method => :get, :update => "update-#{update.id}" %>]
  </span></p>
<% end %>

</div>

<br class="clear"/>

<% if header %>
    </div>
  </div>
<% end %>
