<p><label for="magazine_title">title</label>  <br/><%= text_field 'magazine', 'title' %></p>
<p><label for="magazine_street">street</label><br/><%= text_field 'magazine', 'street' %></p>
<p><label for="magazine_city">city</label>    <br/><%= text_field 'magazine', 'city' %></p>
<p><label for="magazine_state">state</label>  <br/><%= text_field 'magazine', 'state' %></p>
<p><label for="magazine_zip">zip</label>      <br/><%= text_field 'magazine', 'zip' %></p>
<p><label for="magazine_phone">phone</label>  <br/><%= text_field 'magazine', 'phone' %></p>
<p><label for="magazine_fax">fax</label>      <br/><%= text_field 'magazine', 'fax' %></p>
<p><label for="magazine_cat">cat_code</label>      <br/><%= text_field 'magazine', 'cat_code' %></p>
<p><label for="magazine_catID">SmartFlix category</label>  <br/><%= select (:magazine, :catID, @categories) %>

<p><label for="magazine_circ">circ</label>    <br/><%= text_field 'magazine', 'circ' %></p>
<p><label for="magazine_schedule">schedule</label><br/><%= text_field 'magazine', 'schedule' %></p>
<p><label for="magazine_readers">readers</label><br/><%= text_field 'magazine', 'readers' %></p>
<p><label for="magazine_editor">editor</label><br/><%= text_field 'magazine', 'editor' %></p>
<p><label for="magazine_url">url</label>      <br/><%= text_field 'magazine', 'url' %></p>
<p><label for="magazine_email">email</label>  <br/><%= text_field 'magazine', 'email' %></p>


 