<h1>New magazine</h1>

<%= error_messages_for :magazine %>

<%= form_for(:magazine, :url => magazines_path)  do |f| %>
    <%= render :partial => 'form' %>
    <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', magazines_path %>
