<h1>New Product</h1>

<%= error_messages_for :product %>

<%= form_for(:product, :url => { :action =>:create}, :html => { :method => :post } ) do |f| %>

    <%= render :partial => 'form' %>
    <%= render :partial => 'category_form' %>
    handout ?<%= check_box_tag ('handout' )   %><br/>
    <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', products_path %>
