<h1>New title</h1>

<%= error_messages_for :title %>

<%= form_for(:title, :url => titles_path) do |f| %>
    <%= render :partial => 'form' %>
    <%= render :partial => 'category_form' %>
<label for="titles_handoutP">handout ?</label><%= check_box ('title', 'handout' )   %>
<br/>
    <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', titles_path %>
