<div class="text-content">

<%= render :partial => 'customer_nav' %>

<%= error_messages_for :customer, :object_name => 'new password', :header_tag => :strong %>

<h1>Change your password</h1>

<%= form_for @customer, :url =>customer_password_change_url do |form| -%>

  <table>
  <tr>

  <%# Current password is only required if it's not a onepage login (ie forgot my password) -%>
  <% if (@auth_type != :onepage) -%>
    <td align="right">Current password:</td>
    <td><%= password_field_tag :current_password, h(params[:current_password]), :size => 30 %></td>
    </tr><tr>
  <% end -%>

  <td align="right">New password:</td>
  <td><%= form.password_field :password, :size => 30 %></td>

  </tr><tr>

  <td align="right">Confirm new password:</td>
  <td><%= form.password_field :password_confirmation, :size => 30 %></td>

  </tr>
  </table>

  <%# Insert the onepage auth token in the post if it's present %>
  <%= onepage_auth_hidden_field %>

  <p>
  <%= Button.new( "change password", { :class => :orange, :method => :submit}) %>
  </p>

<% end -%>


</div>
