<div class="text-content">

<h2>2008</h2>
<ul>
<li>February 2008: <%= link_to("MovieMaker Magazine", :controller => "press/2008_february_moviemaker.pdf") %> features an interview with Xxx about how much SmartFlix has to offer movie makers - aspiring, professional, or somewhere in between!
</ul>

<h2>2007</h2>
<ul>
<li>October/November 2007: <%= link_to("BusinessWeek", :controller => "press/2007_october_businessweek.pdf") %> mentions us in an article about raising venture capital.  Read about how Xxx has had investors interested in SmartFlix.com since the very beginning.
<li>October 2007: <%= link_to("Fine Woodturning", :controller => "press/2007_october_finewoodworking.pdf") %> praises our huge selection of woodworking titles, great prices, and convenience of prepaid return packages that you simply have to drop in the mail to return.
<li>August/September 2007: <%= link_to("Beadwork", :controller => "press/2007_aug-sept_beadwork.pdf") %> tells readers that we're the "Web's largest home for how-to videos", also "more than 100 beading-related titles to rent!"
<li>June 2007: <%= link_to("Toolmonger", :controller => "press/2007_jun_07_toolmonger.pdf") %> reviews SmartFlix, pronounces us "Good stuff!" with "hard-core DIY DVDs that you'll never find at your local rental shop"
<li>April 2007: SmartFlix <%= link_to("moves to a bigger building", :controller => "press/2007_apr_19_smartflix_moves.pdf") %> and rolls out a new website
<li>February 2007: <%= link_to("Home Shop Machinist", :controller => "press/2007_jan_home_shop_machinist.pdf") %> reviews SmartFlix
<li>January 2007: <%= link_to("Woodworker's Journal", :controller => "press/2007_jan_09_woodworkersjournal.pdf") %> reviews SmartFlix
</ul>

<h2>2006</h2>

<ul>
<li>October 2006: <%= link_to("Introducing SmartFlix", :controller => "press/2006_oct_19_introducing_smartflix.pdf" ) %>
</ul>

<h2>2005</h2>
<ul>
<li>July 2005: <%= link_to("Make magazine", :controller => "press/2005_jul_make.pdf" ) %> reviews SmartFlix
</ul>

</div>
