<div class="text-content">

<h1>Our Affiliate Program - What is it?</h1>

<p>
If you've never been part of an affiliate program, it's really straight
forward:
</p>
<ul>
	<li> we want new customers
	<li> we give you special links to put on your website
	<li> we pay you $5 for every new customer you send us
</ul>

<p>
It's just that easy - there's no cost, no commitment, no annoying pop up ads, and no reason not to give it a shot!
</p>

<p>
There's nothing to lose, and hundreds (or thousands) of dollars to gain!
</p>

<p>
(And you can leave the program any time you want - try it for a month ... or just a week. )
</p>

<p>
<%= link_to 'Sign up for the affiliate program', :action => 'index' %> right now, and start making money in 5 minutes.
</p>

<h1>Start making money in just five minutes</h1>

<p>
If you're not already signed up with an account at SmartFlix, we'll walk
you through that.  You might want to bookmark this page, so you can come
back here to re-read the "hints for making more money" below.
</p>

<ol>
   <li> Click  <%= link_to 'here  to get to the affiliate page ', :action => 'index' %>.  If you don't yet have an account, you'll be prompted to create one.  We need just your email, a new password for our website, and an address where we can mail your checks!
   <li> Read the affiliate agreement, and click "Accept Agreement"
   <li> We'll give you a page full of text links and banner ads that you can use at your site or blog.
</ol>


<p>
<%= link_to 'Signing up for the affiliate program', :action => 'index' %> is as easy as giving us your name and the address we should mail your checks to.
</p>



<h1>Helpful Hints</h1>

<ol>

   <li> ...but, once you're signed up, <i><b>every single page</b></i> at SmartFlix will have an affiliate section (at the bottom of each page) that gives you a specific link that will bring your users to the page, and get you the $5 commission.  You don't have to settle for a generic banner ad or link that leads to our front page ... you can get a link that  leads your readers straight to a category page, or a specific video's page.




<li>
One thing you can do is write a few words describing SmartFlix and
what you think of us. Make it personal!  That way people who visit
your site can decide whether we offer a service that interests them
before they even click on a link.  If you have a blog, just write a
blog entry about us and put the link right in it!  For example: "I
recently rented a few how-to videos from SmartFlix and was really
impressed with their selection - you should try it!".  Use your own voice - put your own twist on it!
</li>

<li>
Another thing works really well is to write about some specific videos
and link directly to them with your affiliate code.  If your website
is about classic cars and you've rented one of our videos on car
restoration, write about it and link to that video! ( Now that you're a
member of the affiliate program you can find affiliate links to
individual videos, categories, and authors at the bottoms of those
pages in the main part of our site. )

For a nice example of this take a look at
<%= link_to 'this article', 'http://strobist.blogspot.com/2006/08/review-best-of-dean-collins-on.html' %>.
</li>

<li>
If you get want to include a link to the "Learn to Salsa Dance" page, you can go to that page and grab the text in the affiliate section, and use it as is...but you can also change what gets displayed in the link.  Once you paste the code into your page, feel free to replace the text "Learn to Salsa Dance" with "this video is how I learned to salsa dance", or whatever other text you like.
</li>

<li>
Make sure to drop a new affiliate link into your website or blog regularly.  The more links, the more money you make.   Once a week isn't too often!
</i>

</ol>

<p>
<%= link_to 'Sign up for the affiliate program', :action => 'index' %> now, and use these hints, and you'll make even more money.
</p>

<h1>Concerns?  Not sure?</h1>

<ol>

<li> Worried about your privacy?  We never sell or share email addresses or other contact info.

<li> Worried about your friends' privacy?  We <b>never</b> sell or share email addresses or other contact info.

<li> Worried about tricky HTML programming?  There's nothing easier to put our links in your blog post - on any page of our site, just click on the link text you want and paste it into your blog post or web site.

<li> Concerned that links might make you look too commercial or corporate ?  Affiliate links are used by tens of thousands of bloggers and other folks - everyone agrees that a decent affiliate program is a nice way to earn some money from your web site.

<li> Don't want to sell to your friends and family?  This isn't Amway or a Tupperware party.  It's very very <i>very</i> low stress.  Just drop a link in to your blog or website, give an honest word or two, and that's it.  If your friends are interested, they can check out the website for themselves.  If they're not interested, that's fine too!

<li> Any other concern we didn't address?  <%= link_to 'Contact us', :controller => 'store', :action => 'contact_us' %>, and we'll set your mind at ease.

</ol>


<p>
<%= link_to 'Sign up for the affiliate program', :action => 'index' %> is takes less than 5 minutes, and earns you 5 dollars for every customer you send us.
</p>

</div>
